@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "assets/css/variables.css";

.text-color {
    color: var(--color-secondary-content)
}

.typed-fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.carousel-transf {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  